blinker==1.4
certifi==2018.11.29
chardet==3.0.4
Click==7.0
configparser==3.7.3
Flask==1.0.2
Flask-Mail==0.9.1
Flask-Mail-SendGrid==0.2
Flask-SendGrid==0.6
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
python-http-client==3.1.0
requests==2.21.0
sendgrid==5.3.0
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
requests
gunicorn